@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: rgb(230, 83, 60);
  --text-color: rgba(255, 255, 255, 0.5);
  --color-white: rgb(255, 255, 255);
  --bg-hero: linear-gradient(360deg, rgb(17, 17, 17, 1), rgba(119, 119, 119, 0.3) 100%);
  --bg-body: rgb(0, 0, 0);
  --bg-secondary: rgb(34, 34, 34);
  --title-font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: 0;
  border: none;
}

img {
  width: 100%;
}
input {
  width: 100%;
}
html {
  font-size: 67.5%;
}
body {
  font-size: 1.6rem;
  background: var(--bg-body);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--color-white);
}
p {
  color: var(--text-color);
  font-size: 1.4rem;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section {
  padding: 7rem 0;
}

/* Global Styles  */
.btn {
  font-size: 1.8rem;
  padding: 1.6rem 4rem;
  background: transparent;
  font-weight: 600;
  border-radius: 4.2rem;
  cursor: pointer;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn-secondary {
  color: var(--color-white);
  border: 1px solid var(--color-white);
}
/* Shared Styles  */
.container {
  width: 1140px;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
  color: var(--color-white);
  font-size: 2rem;
}

.section-title {
  font-size: 4.8rem;
  font-weight: 900;
  text-align: center;
}
.section-description {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0 5rem;
}

/* Navbar  */
header {
  background: var(--bg-hero);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.5rem;
}
.nav-logo {
  font-size: 3.6rem;
  color: var(--color-primary);
  font-weight: 800;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4.6rem;
  padding: 0.3rem;
}
.nav-item {
  padding: 0.8rem 2rem;
  border-radius: 39px;
}
.nav-link {
  border-radius: 4.6rem;
  color: var(--color-white);
}
.nav-item.active {
  background: var(--color-primary);
}
/* Hero  */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 52rem;
  gap: 2.8rem;
}
.hero-description {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.hero-title {
  font-size: 7.8rem;
  font-weight: 900;
  color: var(--color-white);
}
@font-face {
  font-family: Miama;
  src: url("../fonts/Miama.ttf");
}
.hero-title-shape {
  line-height: 2rem;
  font-family: Miama;
  font-size: 15rem;
  font-weight: normal;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
}
.hero-image {
  position: relative;
}
.hero-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  padding: 1.8rem 2rem;
  margin-bottom: 1rem;
  position: absolute;
}

.hero-card h3 {
  font-size: 4rem;
  color: var(--color-white);
}
.hero-card p {
  font-size: 1.3rem;
  color: var(--text-color);
}
.workout-card {
  top: 9.2rem;
  right: -4.7rem;
}
.video-card {
  bottom: 6rem;
  left: -10rem;
  display: flex;
  align-items: center;
}
.video-card h3 {
  font-size: 2.4rem;
}
.video-card-square {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--color-primary);
  margin-right: 1rem;

  position: relative;
}
.video-card-square::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent var(--color-white) transparent;
  border-width: 0px 8px 16px 8px;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-50%, 50%);
}

/* Habit Styles  */
.habit-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}
.habit-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.habit-image {
  border-radius: 50%;
  overflow: hidden;
}
.habit-content {
  text-align: center;
}
.habit-item-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

/* Run extra banner  */
.run-extra-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-secondary);
  padding: 4rem 5rem;
  border-radius: 2rem;
}
.run-extra-title {
  text-align: left;
}
.run-extra-description {
  text-align: left;
  margin-bottom: 2rem;
}
.run-extra-content {
  max-width: 45rem;
}
.run-extra-image {
  max-width: 36rem;
  border-radius: 1.8rem;
  overflow: hidden;
  margin-left: auto;
}

/* BMI section start  */
#bmi-section {
  background: var(--bg-secondary);
}
#bmi-top-section .section-title,
#bmi-top-section .section-description {
  text-align: left;
  padding-left: 20rem;
  margin-bottom: 0;
}

.bmi-chart-title,
.bmi-form-title {
  font-size: 2.8rem;
  font-weight: 900;
}
p.bmi-form-description {
  margin: 1.5rem 0 3rem 0;
}

h3.bmi-chart-title {
  margin-bottom: 5rem;
}
p.bmi-form-description {
  margin: 1.5rem 0 3rem 0;
}
table.bmi-table {
  max-width: 300px;
  width: 100%;
}
.bmi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.bmi-table,
.bmi-table th,
.bmi-table td {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
}
.bmi-table th,
.bmi-table td {
  padding: 1rem;
}
.bmi-table th {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
}
form.bmi-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

form.bmi-form .item-5 {
  grid-column: 1 / span 2;
}
.bmi-input {
  padding: 1.2rem 4rem 1.2rem 2rem;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.6rem;
  color: var(--text-color);
}
#bmi-sex-option .item-5 {
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
}
.btn-calculate {
  width: 70%;
  margin-top: 2rem;
}

/* Mobile Responsive  */
@media screen and (max-width: 576px) {
  /* Global Styles  */
  .btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  section {
    padding: 5rem 0;
  }
  /* Shared Styles  */
  .section-title {
    font-size: 3.2rem;
  }

  /* Navbar  */
  .container {
    width: 90%;
  }
  .nav-list {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .hero {
    flex-direction: column;
    padding-top: 3rem;
  }
  .hero-card {
    padding: 1.2rem 1.5rem;
  }
  .workout-card {
    top: 7.2rem;
    right: -1.7rem;
  }
  .workout-card h3 {
    font-size: 2.5rem;
  }
  .video-card {
    bottom: 24rem;
    left: -1rem;
  }
  .video-card h3 {
    font-size: 2rem;
  }
  .hero-title-shape {
    font-size: 8rem;
  }
  .hero-title {
    font-size: 3.6rem;
  }
  .hero-image {
    margin-right: 0;
    margin-top: 5rem;
  }
  .hero-buttons {
    gap: 1rem;
  }

  /* Habit Section  */
  .habit-list {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .habit-item {
    gap: 2rem;
    padding: 0 2rem;
  }

  .habit-item-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  /* Run extra banner  */
  .run-extra-container {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 3rem;
  }
  .run-extra-image {
    margin-left: 0;
    max-width: 100%;
  }
  .btn-run-extra {
    width: 100%;
  }
  /* BMI section */

  .bmi-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  #bmi-top-section .section-title,
  #bmi-top-section .section-description {
    padding-left: 0;
  }

  form.bmi-form {
    gap: 0.8rem;
  }
  h3.bmi-chart-title {
    margin-bottom: 2rem;
  }

  .bmi-chart-title,
  .bmi-form-title {
    font-size: 1.8rem;
  }

  form.bmi-form .item-5 {
    grid-column: 1 / span 2;
  }
  .bmi-input {
    padding: 1.2rem 4rem 1.2rem 2rem;
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1.6rem;
    color: var(--text-color);
  }
  #bmi-sex-option .item-5 {
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
  }
  .btn-calculate {
    width: 70%;
    margin-top: 2rem;
  }
}
